<!DOCTYPE html>
<html>
<head>
	<title>Menú</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/index">Inicio</a></li>
				<li><a href="#">Servicios</a></li>
				<li><a href="#">Contacto</a></li>
				<li><a href="/loginD">Docentes</a></li>
				<li><a href="/loginE">Estudiantes</a></li>
				<li><a href="/loginA">Administrado</a></li>
				<li><a href="/register">Registrar</a></li>
			</ul>
		</nav>
	</header>

</body>
</html>
