<!DOCTYPE html>
<html>
<head>
	<title>Administrador</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/listaCarrera">Lista de Carrera</a></li>
                <li><a href="/listaEstudiante">Lista de Estudiante</a></li>
                <li><a href="/listaDocente">Lista de Docente</a></li>
                <li><a href="/registrarNuevaCarrera">Registrar Carrera Nueva</a></li>
            </ul>
        </nav>
    </header>
</head>


</body>
</html>